@import url('./constants.css');
* {
    font-size:18px;
    font-family: "CodeNewRoman Nerd Font Propo";
  }

window#waybar{
    all:unset;
}

.modules-left {
    padding: 4px 7px;
    margin:10 0 5 10;
    border-radius: 3px;
}

.modules-center {
    padding: 4px 7px;
    margin:10 0 5 0;
    border-radius: 3px;
}
.modules-right {
    padding: 4px 7px;
    margin: 10 10 5 0;
    border-radius: 3px;
}
.custom-spotify {
    padding: 0em 1em;
    margin: 0 4px;
    border-radius: 10px;
}

#custom-notification {
    padding: 0px 5px;
}

#clock{
    padding: 0px 5px;
    border-radius: 5px;
}

#custom-pacman{
    padding: 0px 5px;
    transition: all .3s ease;
}
#workspaces {
    padding: 0px 10px;
}
#workspaces button {
    padding: 0px 5px;
}

#bluetooth{
    padding: 0px 5px;

}
#network{
    padding: 0px 5px;

}
#battery{
    padding: 0px 5px;
}

#group-expand{
    padding: 0px 5px;
}
#custom-expand{
    padding: 0px 5px;
}
#custom-colorpicker{
    padding: 0px 5px;
}
#cpu,#memory,#temperature{
    padding: 0px 5px;
}

#tray{
    padding: 4px 5px;
}
#tray menu * {
    padding: 0px 5px;
}

#tray menu separator {
    padding: 0px 5px;
}
