@import url('/var/cache/theme/colours.css');


@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    all:unset;    
    transition: all .2s ease; 
    font-family: 'CodeNewRoman Nerd Font Mono', monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow:none;
    background-color:transparent;
    color: @button-text-colour;
}

window {
    all:unset;
    padding: 20px;
    border-radius: 0px;
    background-color: alpha(#383838,.3);
}
#inner-box {
    margin: 2px;
    padding: 5px
    border: none;
}
#outer-box {    
    border: none;
}
#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}

#input {
    all:unset;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    padding: 20px;
    outline: none;
    color: #fff;
    background-color: alpha(@background,.0);
}

#input image {
    color: @search-icon;
    padding-right:10px;
}
#input * {
    outline: none;
}

#input:focus {
    outline: none;

}

#text {
    margin: 5px;
    border: none;
    color: @foreground;
    outline: none;
}

#entry {
    border: solid 1px rgba(0,0,0,0);
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
}

#entry arrow {
    border: none;
    color: @arrow;
}
#entry:selected {
    /* box-shadow: 1px 1px 5px rgba(255,255,255, .03); */
    /* border: solid 1px @module-hover; */
    background-color:rgba(255,255,255,0.3);
}
#entry:selected #text {
    color: @module-hover;
}
#entry:drop(active) {
    background-color: @arrow !important;
}
